pkgbase = package
	pkgdesc = Dummy package used to exercise the aur-workflow CI/publish pipeline (tracks tagged releases)
	pkgver = 0.2.4
	pkgrel = 1
	url = https://github.com/its-me/dummy.releases
	arch = any
	license = MIT
	source = dummy.releases-0.2.4.tar.gz::https://github.com/its-me/dummy.releases/archive/refs/tags/v0.2.4.tar.gz
	sha256sums = 81cd2caac9f7074ae2cd568fab8113dbf99a0caa0e39534197c0366addf11c03

pkgname = package
